@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";


@layer base {
    html {
        font-family: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
        background-color: #fff;
        color: #052148;
    }
}

:root {
    --color-primary: #052148;
    --color-accent: #ff751f;
    --color-bg: #fff;
    --color-surface: #fff;
    --color-on-primary: #fff;
    --color-on-accent: #fff;
    --color-on-bg: #052148;
    --color-on-surface: #052148;
}
